/* .searchBar-wrap button {
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    background-color: #228c22 ;
    color: #fff;
  }
  .searchBar-wrap span {
    padding-right: 0.5rem;
    cursor: pointer;
  }
  .searchBar-wrap form {
    display: flex;
    align-items: center;
  } */